<!DOCTYPE html>
<html>

<head>
    <title>Configuratore Borse</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    <meta property="og:description" content="Configuratore Borse.">
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/styles.css">
<!--     <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/swiper.css"> -->
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/jquery.mCustomScrollbar.css">
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/pinchzoomer.css">
    <link media="screen" rel="stylesheet" type="text/css" href="stylesheets/custom.css">
    <!--[if lt IE 9]><script src="javascripts/html5shiv.js"></script><![endif]-->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700|Source+Sans+Pro:300,400,600" rel="stylesheet">

</head>

<body ng-app="applicationModule" class="ng-scope">
	<div ng-controller="componentsController">
		<div ng-if="!isConfigurator">
            <div class="main-header-content">
                <nav class="navbar main-navbar navbar-default nomargin" role="navigation">
                    <div class="container">
		                <a class="navbar-brand logo-big  hidden-xs text-hide" href="#">Unaduna</a>
		                <a class="navbar-brand logo-small hidden-lg hidden-md hidden-sm text-hide" href="#">Unaduna</a>
		                <div class="navbar-header navbar-right">
		                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
		                        <span class="sr-only">Toggle navigation</span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                        <span class="icon-bar"></span>
		                    </button>
		                    <ul class="nav navbar-nav fixed-navbar-right">
		                        <li>
		                            <a href="#" id="user-menu" data-toggle="dropdown"><i class="unaicon-login"></i> <span class="hidden-xs">accedi</span></a>
		                            <ul class="dropdown-menu" aria-labelledby="user-menu">
		                                <li><a href="accesso.html">Profilo</a></li>
		                                <li><a href="#">Esci</a></li>
		                            </ul>
		                        </li>
		                        <li>
		                            <a href="profilo-borse.html#preferiti"><i class="unaicon-cart"></i> <span class="hidden-xs">(1)</span></a>
		                        </li>
		                        <li>
		                            <a href="profilo-borse.html#ordini"><i class="unaicon-favourite"></i> <span class="hidden-xs">(2)</span></a>
		                        </li>
		                    </ul>
		                </div>
		                <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
		                    <ul class="nav navbar-nav navbar-left">
		                        <li>
                                    <a href="#"><i class="unaicon-search"></i></a>
		                        </li>
		                        <li>
                                    <a href="#" id="language" data-toggle="dropdown">English <span class="caret"></span></a>
            		                <ul class="dropdown-menu" aria-labelledby="language">
            		                    <li><a href="#">Deutsche</a></li>
            		                    <li><a href="#">Francois</a></li>
            		                </ul>
		                        </li>
                                <!-- <li>
                                    <a href="#"><i class="unaicon-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="unaicon-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="unaicon-instagram"></i></a>
                                </li> -->
		                    </ul>
		                </div>
		            </div>
		        </nav>
		        <!-- <div class="container" style="position: relative">
		            <div class="search hidden-xs">
		                <input type="text" placeholder="Ricerca">
                        <a href="#"><i class="unaicon-search"></i></a>
		            </div>
		            <div class="language hidden-xs">
                        <a href="#" id="language" data-toggle="dropdown">English <span class="caret"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="language">
                            <li><a href="#">Deutsche</a></li>
                            <li><a href="#">Francois</a></li>
                        </ul>
		            </div>
		        </div> -->
		    </div>
		    <nav class="navbar navbar-default nomargin main-site-navbar">
		        <div class="container">
		            <div class="collapse navbar-collapse navbar-ex1-collapse">
		                <ul class="nav navbar-nav">
		                    <li>
		                        <a href="#" class="active link" ng-click="setHome()">Home</a>
		                    </li>
		                    <li>
		                        <a href="#" class="" ng-click="setConfigurator()">Configura</a>
		                    </li>
		                    <li>
		                        <a href="#" class="" ng-click="setVisione()">Visione</a>
		                    </li>
		                    <li>
		                        <a href="#" class="" ng-click="setEsperienza()">Esperienza</a>
		                    </li>
		                    <li>
		                        <a href="#" class="" ng-click="setContatti()">Contatti</a>
		                    </li>
		                    <li>
		                        <a href="#" class="" ng-click="setStores()">Stores</a>
		                    </li>
		                    <li class="visible-xs-block">
		                        <a href="#" class="">Cerca</a>
		                    </li>
		                    <li class="visible-xs-block">
		                        <a href="#" class="">Lingua</a>
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </nav>
	    </div>
	    <div><!-- contenitore principale -->

		    <home-content ng-if="isHome"></home-content>
		    <configura-content ng-if="isConfigurator"></configura-content>
		    <visione-content ng-if="isVisione"></visione-content>
		    <esperienza-content ng-if="isEsperienza"></esperienza-content>
		    <contatti-content ng-if="isContatti"></contatti-content>
		    <stores-content ng-if="isStores"></stores-content>

	    </div>

	    <footer class="text-center" ng-if="!isConfigurator">
	        <div class="footer-navbar-container">
	            <div class="container">
	                <ul class="nav navbar-nav">
<!-- 	                		<li> -->
<!-- 	                        <a href="#" class="active link" ng-click="setHome()">Home</a> -->
<!-- 	                    </li> -->
<!-- 	                    <li> -->
<!-- 	                        <a href="#" class="" ng-click="setConfigurator()">Configura</a> -->
<!-- 	                    </li> -->
<!-- 	                    <li> -->
<!-- 	                        <a href="#" class="" ng-click="setVisione()">Visione</a> -->
<!-- 	                    </li> -->
<!-- 	                    <li> -->
<!-- 	                        <a href="#" class="" ng-click="setEsperienza()">Esperienza</a> -->
<!-- 	                    </li> -->
<!-- 	                    <li> -->
<!-- 	                        <a href="#" class="" ng-click="setContatti()">Contatti</a> -->
<!-- 	                    </li> -->
<!-- 	                    <li> -->
<!-- 	                        <a href="#" class="" ng-click="setStores()">Stores</a> -->
<!-- 	                    </li> -->
	                    <li>
	                        <a href="index.html" class="">Home</a>
	                    </li>
	                    <li>
	                        <a href="http://unadunaconfiguratore.eu-central-1.elasticbeanstalk.com" class="">Configura</a>
	                    </li>
	                    <li>
	                        <a href="visione.html" class="">Visione</a>
	                    </li>
	                    <li>
	                        <a href="esperienza.html" class="">Esperienza</a>
	                    </li>
	                    <li>
	                        <a href="#" class="">Contatti</a>
	                    </li>
	                    <li>
	                        <a href="#" class="">Stores</a>
	                    </li>
	                </ul>
	            </div>
	        </div>
	        <div class="credits">
	            <div class="container">
	                <a class="logo-footer text-hide" href="#">Unaduna</a>
	                <p>
	                    Via S. Carlo 2707/2709 47522, San Carlo dI Cesena (FC) Italia<br />
	                    Tel. +39 0547 373077 - Fax +39 0547 373363<br />
	                    P.IVA 03487580403
	                </p>
                    <h3>
                        <a href="#"><i class="unaicon-facebook"></i></a>&nbsp;
                        <a href="#"><i class="unaicon-twitter"></i></a>&nbsp;
                        <a href="#"><i class="unaicon-instagram"></i></a>
                    </h3>
	            </div>
	        </div>
	        <div class="copyright">
	            <div class="container">
	                Copyright 2017 Unaduna
	            </div>
	        </div>
	    </footer>
    </div>

    <script src="http://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>

	<!--BLOCCO IMPORT FILE APPLICAZIONE ANGULAR  -->
    <script src="javascripts/angular/angular.min.js"></script>
    <script src="javascripts/angular/angular-route.min.js"></script>
	<script src="javascripts/angular/angular-animate.min.js"></script>
	<script src="javascripts/angular/angular-aria.min.js"></script>
	<script src="javascripts/angular/angular-messages.min.js"></script>

    <script src="javascripts/app/app.js"></script>
    <script src="javascripts/app/controllers/componentsController.js"></script>
    <script src="javascripts/app/services/ListeService.js"></script>
    <script src="javascripts/app/services/utilFunctionMessageCreator.js"></script>

    <script src="javascripts/app/loginApp/app.js"></script>
	<script src="javascripts/app/loginApp/constants/rolesConstants.js"></script>
	<script src="javascripts/app/loginApp/constants/statesConstants.js"></script>
	<script src="javascripts/app/loginApp/constants/responseCodesConstants.js"></script>
	<script src="javascripts/app/loginApp/constants/loginUrlConstants.js"></script>
	<script src="javascripts/app/loginApp/services/loginService.js"></script>
	<script src="javascripts/app/loginApp/services/sessionService.js"></script>
	<script src="javascripts/app/loginApp/services/loginMessagesCreator.js"></script>
	<script src="javascripts/app/loginApp/controller/applicationController.js"></script>
	<script src="javascripts/app/loginApp/controller/loginController.js"></script>

	<script src="javascripts/app/configuratorApp/app.js"></script>
	<script src="javascripts/app/configuratorApp/controllers/configuratorController.js"></script>
	<script src="javascripts/app/configuratorApp/controllers/bagsConfiguratorController.js"></script>
	<script src="javascripts/app/configuratorApp/controllers/rootController.js"></script>
	<!--FINE BLOCCO IMPORT FILE APPLICAZIONE ANGULAR  -->

	<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <!-- <script src='https://unpkg.com/spritespin@4.0.1/release/spritespin.js' type='text/javascript'></script> -->
    <script src="javascripts/spritespin.js"></script>
<!--     <script src="javascripts/swiper.min.js"></script> -->
<!--     <script src="javascripts/swiper.jquery.min.js"></script> -->
    <script src="javascripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="javascripts/custom.js"></script>
    <script src="javascripts/mdb.js"></script>
    <script src="javascripts/mergeimages/index.umd.js"></script>
    <script src="javascripts/mergeimages/index.es2015.js"></script>
    <script src="javascripts/html2canvas/html2canvas.js"></script>
    <script src="javascripts/jquery.mousewheel.js"></script>
    <script src="javascripts/hammer.js" ></script>
    <script src="javascripts/TweenMax.js"></script>
    <script src="javascripts/jquery.pinchzoomer.js"></script>

    <link rel="stylesheet" href="node_modules/angular-ui-swiper/dist/angular-ui-swiper.css">
	<script src="node_modules/angular-ui-swiper/dist/angular-ui-swiper.js"></script>

    <style type="text/css">
        /* N.B. .clearfix per funzionare deve rimanere dichiarato nell'html */
        .clearfix:after {
            content: ".";
            display: block;
            height: 0;
            clear: both;
            visibility: hidden;
        }

    </style>
</body>

</html>
